<script id="header" type="text/html">
  <h1 class="headtitle">{{title}} {{version}}</h1>
<div class="infobuttons">
  <button onclick=""><i class="fa fa-cog" aria-hidden="true"></i></button>
  <button onclick=""><i class="fa fa-info" aria-hidden="true"></i></button>
  <button class="precat" onclick="minimizeWindow();"><i class="fa fa-window-minimize" aria-hidden="true"></i></button>
  <button class="last" onclick="closeWindow();"><i class="fa fa-times" aria-hidden="true"></i></button>
</div>
</script>
