<script id="main" type="text/html">
<div class="main">
  <button id="boni" class="btn-selector {{general.title}}" type="button" cat="{{general.title}}" catid="{{general.id}}" name="button">{{general.title}}</button>
  <button id="boni" class="btn-selector {{world.title}}" type="button" cat="{{world.title}}" catid="{{general.id}}" name="button">{{world.title}}</button>
  <button id="boni" class="btn-selector {{spawns.title}}" type="button" cat="{{spawns.title}}" catid="{{general.id}}" name="button">{{spawns.title}}</button>
</div>
<div class="cat"></div>
</script>
