*{
  box-sizing: border-box;
  font-weight: normal;
  user-select: none;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

body, html{
  height: 100%;
  cursor: default;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: transparent;
  color: #b6b6b6;
}
html {
  padding: 10px;
}
body {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  overflow: visible;
}
header{
  /* padding-bottom: 5px;*/
  height: 25px;
  border-bottom: solid 1px #3f3f3f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer{
  height: 25px;
  border-top: solid 1px #3f3f3f;
  bottom: 0;
  position: absolute;
  width: 98%;
  display: flex;
  flex-direction: row;
}
footer label.ok{
  color: #1abc9c;
}

footer label.error{
  color: #e74c3c;
}
.infobuttons button{
    line-height: 0;
    font-size: 20px;
    border: none;
    padding: 0 5px;
    margin: auto;
    height: 20px;
}
.infobuttons .precat{
  padding-left: 20px;
  padding-right: 0;
  font-size: 14px;
}
.infobuttons .last{
  padding: 0;
}
h1.headtitle{
  font-size: 15px;
}
.container{
  padding: 0 5px;
}

.content{
  height: 100%;
  padding: 5px;
  position: relative;
  background: linear-gradient(141deg, #1c1d20, #242529, #1c1d20);
  /*border: solid 1px #bdc3c7;*/
}

.resize.corner {
    width: 10px;
    height: 10px;
}
.resize {
    position: absolute;
    z-index: 1000;
    opacity: .5;
}
.resize.horizontal {
  left: 10px;
  right: 10px;
  height: 10px;
}

.resize.vertical {
  top: 10px;
  bottom: 10px;
  width: 10px;
}
.resize.top {
  top: 0;
  transform: translateY(5px);
  cursor: n-resize;
}

.resize.bottom {
  bottom: 0;
  transform: translateY(-5px);
  cursor: s-resize;
}

.resize.left {
  left: 0;
  transform: translateX(5px);
  cursor: e-resize;
}

.resize.right {
  right: 0;
  transform: translateX(-5px);
  cursor: w-resize;
}

.resize.top-left {
  top: 0;
  left: 0;
  transform: translate(5px, 5px);
  cursor: nw-resize;
}

.resize.top-right {
  top: 0;
  right: 0;
  transform: translate(-5px, 5px);
  cursor: ne-resize;
}

.resize.bottom-left {
  bottom: 0;
  left: 0;
  transform: translate(5px, -5px);
  cursor: sw-resize;
}
.resize.bottom-right {
  bottom: 0;
  right: 0;
  transform: translate(-5px, -5px);
  cursor: se-resize;
}

main{
  padding: 10px 0 10px;
  border-bottom: solid 1px #3f3f3f;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-selector{
    color: #a5a5a5;
    padding: 0px 5px 0px 40px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    line-height: normal;
}

.btn-selector.general{
  background-image: url('../images/general.png');
}

.btn-selector.world{
  background-image: url('../images/world.png');
}

.btn-selector.spawns{
  background-image: url('../images/spawns.png');
}
